/** @format */ /** @format */ /** @format */
nav {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0%;
  z-index: 99;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.logo h1 {
  margin: 1.5rem 0rem;
  color: rgb(51, 51, 51);
  font-size: clamp(1.3rem, 2rem, 4vw);
  transition: 0.3s ease;
  animation: logoAni 1s ease 1;
}
.logo h1:hover {
  color: rgb(223, 193, 94);
}
.logo i {
  display: none;
  transition: 0.5s ease;
  font-size: 1.5rem;
}
.logo i:hover {
  color: rgb(223, 193, 94);
}
@keyframes logoAni {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }
  100% {
    opacity: 1;
  }
}

.navlink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
}
.navlink-container ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navlink-container ul li, .navlink-container ul a {
  margin: 0rem 1rem;
  font-size: clamp(1rem, 1.2rem, 4vw);
  color: rgb(51, 51, 51);
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s ease;
  animation: linksAni 1s ease 1;
}
.navlink-container ul li:hover, .navlink-container ul a:hover {
  color: rgb(223, 193, 94);
}
.navlink-container ul li .activelink, .navlink-container ul a .activelink {
  color: rgb(223, 193, 94);
}
.navlink-container ul .gallery-mobile {
  display: none;
}
@keyframes linksAni {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }
  100% {
    opacity: 1;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 99;
}
.dropdown li {
  color: red;
}
.dropdown i {
  transition: 0.3s ease-out;
}
.dropdown:hover i {
  transform: rotate(180deg);
}
.dropdown .dropdwn-content {
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  padding: 1rem 0rem;
  text-align: center;
  background-color: white;
  z-index: 99;
  position: absolute;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.dropdown .dropdwn-content .activelink {
  color: rgb(223, 193, 94);
}
.dropdown:hover .dropdwn-content {
  opacity: 1;
  visibility: visible;
  padding-top: 2rem;
}
.dropdown:hover .dropdwn-content a, .dropdown:hover .dropdwn-content i {
  font-size: 1.1rem;
  padding: 1rem 0rem;
  width: 100%;
  transition: 0.3s ease;
}
.dropdown:hover .dropdwn-content a:hover, .dropdown:hover .dropdwn-content i:hover {
  color: rgb(223, 193, 94);
  border-left: 3px solid rgb(223, 193, 94);
  border-right: 3px solid rgb(223, 193, 94);
}

/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */
@media (min-width: 240px) and (max-width: 480px) {
  nav {
    padding: 2rem 0rem;
  }
  nav .logo {
    width: 100%;
    justify-content: space-around;
  }
  nav .logo i {
    display: inline;
  }
  nav .navlink-container {
    opacity: 0;
    position: absolute;
    top: -50%;
  }
  nav .navlink-container.toggleNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    top: 100%;
    background-color: white;
    z-index: 99;
  }
  nav .navlink-container.toggleNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav .navlink-container.toggleNav ul li {
    padding: 1rem 0rem;
  }
  nav .navlink-container.toggleNav ul .gallery-mobile {
    display: inline;
  }
  nav .dropdown {
    display: none;
  }
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/
@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
  nav {
    padding: 2rem 0rem;
  }
  nav .logo {
    width: 100%;
    justify-content: space-around;
  }
  nav .logo i {
    display: inline;
  }
  nav .navlink-container {
    opacity: 0;
    position: absolute;
    top: -50%;
  }
  nav .navlink-container.toggleNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    top: 100%;
    background-color: white;
    z-index: 99;
  }
  nav .navlink-container.toggleNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav .navlink-container.toggleNav ul li {
    padding: 1rem 0rem;
  }
  nav .dropdown {
    width: 100%;
    text-align: center;
  }
  nav .dropdown i {
    display: none;
  }
  nav .dropdown .dropdwn-content i {
    display: none;
  }
}
/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  nav {
    padding: 2rem 0rem;
  }
  nav .logo {
    width: 100%;
    justify-content: space-around;
  }
  nav .logo i {
    display: inline;
  }
  nav .navlink-container {
    opacity: 0;
    position: absolute;
    top: -50%;
  }
  nav .navlink-container.toggleNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    top: 100%;
    background-color: white;
    z-index: 99;
  }
  nav .navlink-container.toggleNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav .navlink-container.toggleNav ul li {
    padding: 1rem 0rem;
  }
  nav .navlink-container.toggleNav ul .gallery-mobile {
    display: inline;
  }
  nav .dropdown {
    display: none;
  }
}
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/
/** @format */
footer {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  text-align: center;
  position: sticky;
  bottom: 0;
}
footer .top-footer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1rem;
}
footer .top-footer .site-links-container,
footer .top-footer .reference-container {
  width: 37.5%;
  color: rgb(255, 255, 255);
}
footer .top-footer .site-links-container h2,
footer .top-footer .reference-container h2 {
  color: rgb(223, 193, 94);
  font-size: clamp(1.5rem, 2rem, 4vw);
}
footer .top-footer .site-links-container .logo-container,
footer .top-footer .reference-container .logo-container {
  width: 25%;
}
footer .top-footer .site-links-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5rem;
}
footer .top-footer .site-links-container .site-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
footer .top-footer .site-links-container .site-links .links1, footer .top-footer .site-links-container .site-links .links2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .top-footer .site-links-container .site-links .links1 a, footer .top-footer .site-links-container .site-links .links2 a {
  color: rgb(140, 151, 158);
  margin: 0.5rem 0rem;
  transition: 0.5s ease;
}
footer .top-footer .site-links-container .site-links .links1 a:hover, footer .top-footer .site-links-container .site-links .links2 a:hover {
  color: rgb(255, 255, 255);
}
footer .top-footer .site-links-container .site-links .links1 {
  margin-right: 1rem;
}
footer .top-footer .reference-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0rem;
}
footer .top-footer .reference-container .references-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
footer .top-footer .reference-container .references-links .links1, footer .top-footer .reference-container .references-links .links2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .top-footer .reference-container .references-links .links1 a, footer .top-footer .reference-container .references-links .links2 a {
  color: rgb(140, 151, 158);
  margin: 0.5rem 0rem;
  transition: 0.5s ease;
}
footer .top-footer .reference-container .references-links .links1 a:hover, footer .top-footer .reference-container .references-links .links2 a:hover {
  color: rgb(255, 255, 255);
}
footer .top-footer .reference-container .references-links .links1 {
  margin-right: 1rem;
}
footer .top-footer .logo-container img {
  width: 10rem;
}
footer .bottom-footer {
  width: 100%;
  padding: 1rem 0rem;
  color: rgb(255, 255, 255);
  background-color: rgba(20, 20, 20, 0.438);
}
footer .bottom-footer p {
  font-size: 0.8rem;
}
footer .bottom-footer span {
  text-decoration: underline;
}
footer .bottom-footer span:hover {
  color: rgb(223, 193, 94);
}

/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */
@media (min-width: 240px) and (max-width: 480px) {
  footer {
    bottom: -25%;
  }
  footer .top-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
    margin: 0;
  }
  footer .top-footer .site-links-container,
footer .top-footer .reference-container,
footer .top-footer .logo-container {
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
  }
  footer .top-footer .site-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0rem;
  }
  footer .top-footer .site-links-container .site-links {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .top-footer .reference-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0rem;
  }
  footer .top-footer .reference-container .references-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
  }
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/
@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
  footer .top-footer {
    width: 100%;
  }
}
/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  footer .top-footer {
    width: 100%;
  }
}
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/
/** @format */
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
    transform: scale(1.2);
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

main {
  position: relative;
  z-index: 3;
}
main h2 {
  color: rgb(223, 193, 94);
  text-align: center;
}

header {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
}
header .slide1 {
  background: url("../Image/Tangible/Mt.Guinotan&Cave/Guinobatan1.jpg") no-repeat center;
  background-size: cover;
  animation: fade 15s infinite ease;
}
header .slide2 {
  background: url("../Image/BelisonMunicipalHallEtc/Municipal-hallsideView.jpg") no-repeat center;
  background-size: cover;
  animation: fade2 15s infinite ease;
}
header .slide3 {
  background: url("../Image/Tangible/Mt.Guinotan&Cave/Guinobatan4.jpg") no-repeat center;
  background-size: cover;
  animation: fade3 15s infinite ease;
}
header .header-content {
  z-index: 99;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
header .header-content .show-on-scroll {
  transition: 1s ease;
  padding: 4rem 3rem;
}
header .header-content .show-on-scroll h2 {
  font-size: clamp(3rem, 5.5rem, 5vw);
  text-shadow: 2px 1px 10px black;
}
header .header-content .show-on-scroll p {
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.grid-container {
  width: 100%;
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.grid-container .title-descript {
  width: 45%;
}
.grid-container .title-descript .show-on-scroll {
  width: 100%;
  padding: 2rem 5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
  margin-bottom: 5rem;
  opacity: 0;
  transform: translateY(-40%);
  transition: 1s ease;
}
.grid-container .title-descript .show-on-scroll h2 {
  font-size: clamp(2rem, 3.5rem, 4vw);
}
.grid-container .title-descript .show-on-scroll p {
  line-height: 1.5;
  margin: 1rem 0rem;
  text-align: justify;
}
.grid-container .title-descript .show-on-scroll .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.grid-container .title-descript .show-on-scroll .social-icons img {
  width: 3.2rem;
  transition: 0.8s ease;
  margin-right: 0.5rem;
}
.grid-container .title-descript .show-on-scroll .social-icons img:hover {
  transform: rotate(360deg);
}
.grid-container .title-descript .is-visible {
  opacity: 1;
  transform: translateY(0%);
}
.grid-container .grid-wrapper {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 400px);
  gap: 1rem;
}
.grid-container .grid-wrapper .grid .show-on-scroll {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
}
.grid-container .grid-wrapper .grid .show-on-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}
.grid-container .grid-wrapper .grid .show-on-scroll img:hover {
  transform: scale(1.2, 1.2);
  filter: brightness(50%);
}
.grid-container .grid-wrapper .grid .show-on-scroll .link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0;
  transition: 0.3s ease;
}
.grid-container .grid-wrapper .grid .show-on-scroll .link-text a {
  color: rgb(223, 193, 94);
  text-decoration: underline;
}
.grid-container .grid-wrapper .grid .show-on-scroll .link-text a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.grid-container .grid-wrapper .grid .show-on-scroll:hover .link-text {
  opacity: 1;
}
.grid-container .grid-wrapper .grid .show-on-scroll {
  opacity: 0;
  transform: translateY(40%);
  transition: 1s ease;
}
.grid-container .grid-wrapper .grid .is-visible {
  opacity: 1;
  transform: translateY(0%);
}
.grid-container .grid-wrapper .grid2 {
  grid-column: 2/4;
}
.grid-container .grid-wrapper .grid6 {
  grid-column: 1/3;
}
.grid-container .grid-wrapper .grid8 {
  grid-row: 4/6;
}
.grid-container .grid-wrapper .grid14 {
  grid-column: 2/4;
}
.grid-container .grid-wrapper .grid19 {
  grid-row: 8/10;
  grid-column: 2/3;
}
.grid-container .grid-wrapper .grid24 {
  grid-column: 2/4;
}
.grid-container .vid-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 4rem 0rem;
}
.grid-container .vid-container .iframe {
  width: 30%;
}
.grid-container .vid-container .iframe .show-on-scroll {
  transform: translateY(45%);
  opacity: 0;
  transition: 1s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
}
.grid-container .vid-container .iframe .show-on-scroll iframe {
  width: 100%;
}
.grid-container .vid-container .iframe .is-visible {
  transform: translateY(0%);
  opacity: 1;
}
.grid-container .vid-container .iframe2 .is-visible {
  transition-delay: 0.3s;
}
.grid-container .vid-container .iframe3 .is-visible {
  transition-delay: 0.6s;
}

.mt-guino .title-descript {
  width: 65%;
}
.mt-guino .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 1rem;
}
.mt-guino .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}
.mt-guino .grid-wrapper .grid2, .mt-guino .grid-wrapper .grid6 {
  grid-column: 2/4;
}
.mt-guino .grid-wrapper .grid3 {
  grid-column: 1/3;
}

.Acacia-Muni .title-descript {
  width: 60%;
}
.Acacia-Muni .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 400px);
  gap: 1rem;
}
.Acacia-Muni .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}
.Acacia-Muni .grid-wrapper .grid3 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.Acacia-Muni .grid-wrapper .grid8 {
  grid-column: 2/4;
  grid-row: 4/5;
}

.sinaja-bridge .title-descript {
  width: 50%;
}
.sinaja-bridge .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 1rem;
}
.sinaja-bridge .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}

.rizal-monu .title-descript {
  width: 50%;
}
.rizal-monu .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 1rem;
}
.rizal-monu .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}
.rizal-monu .grid-wrapper .grid1 {
  grid-row: 1/3;
}
.rizal-monu .grid-wrapper .grid3 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.Cemburio .title-descript {
  width: 50%;
}
.Cemburio .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 1rem;
}
.Cemburio .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}

.Gabaldon .title-descript {
  width: 60%;
}
.Gabaldon .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 1rem;
}
.Gabaldon .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}

.pagunsan .title-descript {
  width: 50%;
}
.pagunsan .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 1rem;
}
.pagunsan .grid-wrapper .grid {
  grid-column: unset;
  grid-row: unset;
}

.bel-nature .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 400px);
  gap: 1rem;
}
.bel-nature .grid-wrapper .grid2 {
  grid-column: 2/4;
}
.bel-nature .grid-wrapper .grid6 {
  grid-column: 3/4;
}
.bel-nature .grid-wrapper .grid8 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.bel-nature .grid-wrapper .grid12 {
  grid-column: 3/4;
}
.bel-nature .grid-wrapper .grid13 {
  grid-row: 5/6;
  grid-column: 2/4;
}
.bel-nature .grid-wrapper .grid14 {
  grid-row: 6/7;
  grid-column: 1/3;
}

.bel-WayofLife .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 420px);
  gap: 1rem;
}
.bel-WayofLife .grid-wrapper .grid2 {
  grid-column: 2/3;
}
.bel-WayofLife .grid-wrapper .grid6 {
  grid-column: 3/4;
}
.bel-WayofLife .grid-wrapper .grid8 {
  grid-row: 4/5;
}
.bel-WayofLife .grid-wrapper .grid13 {
  grid-row: 5/7;
}
.bel-WayofLife .grid-wrapper .grid14 {
  grid-column: 2/3;
}
.bel-WayofLife .grid-wrapper .grid19 {
  grid-column: 1/2;
  grid-row: 7/8;
}
.bel-WayofLife .grid-wrapper .grid24 {
  grid-column: 3/4;
}
.bel-WayofLife .grid-wrapper .grid25 {
  grid-row: 9/11;
  grid-column: 1/2;
}
.bel-WayofLife .grid-wrapper .grid26 {
  grid-column: 2/3;
  grid-row: 9/11;
}
.bel-WayofLife .grid-wrapper .vid-container {
  border: 1px solid red;
  margin-top: 3rem;
}

/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */
@media (min-width: 240px) and (max-width: 480px) {
  header .header-content {
    width: 85%;
  }
  header .header-content .show-on-scroll {
    padding: 4rem 0rem;
  }
  .grid-container .title-descript {
    width: 85%;
  }
  .grid-container .title-descript .show-on-scroll {
    padding: 2rem 1rem;
  }
  .grid-container .title-descript .show-on-scroll p {
    text-align: center;
  }
  .grid-container .grid-wrapper {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .grid-container .grid-wrapper .grid {
    grid-column: unset;
    grid-row: unset;
  }
  .grid-container .vid-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0rem;
  }
  .grid-container .vid-container .iframe {
    width: 80%;
    margin: 1rem 0rem;
  }
  .ocean-view .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .santa-fe .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .santa-fe .grid-wrapper .grid {
    grid-column: unset;
    grid-row: unset;
  }
  .bel-nature .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .bel-nature .grid-wrapper .grid8 {
    grid-column: unset;
    grid-row: unset;
  }
  .bel-WayofLife .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .bel-WayofLife .grid-wrapper .grid26 {
    grid-column: unset;
    grid-row: unset;
  }
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/
/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/