// Imports
@import './Mixins';

// Footer style
footer{
    width: 100%;
    padding-top: 2rem;
    @include flexBox(center,center,column);
    background-color: $GreyBg;
    text-align: center;
    position: sticky;
    bottom: 0;

    .top-footer{
        width: 80%;
        @include flexBox(center,center,row);
        padding-bottom: 1rem;
    .site-links-container,
    .reference-container{
        width:37.5%;
        color: $whiteHeaders;
        h2{
            color: $textHover;
            font-size: clamp(1.5rem, 2rem, 4vw);
        }
        .logo-container{
            width: 25%
        }
    }





    .site-links-container{
        @include flexBox(center,flex-start,column);
        padding-left: 5rem;
  
            .site-links{
            width: 100%;
            @include flexBox(flex-start,center,row);
            margin-top: 1rem;
            .links1, .links2{
                @include flexBox(center,flex-start,column);
                a{
                    color: $ptext;
                    margin: .5rem 0rem;
                    transition: .5s ease;
                    &:hover{
                        color: $whiteHeaders;
                    }
                }
            }
             .links1{
                margin-right: 1rem;
            }
        }
        }

    

    .reference-container{
        @include flexBox(center,flex-start,column);
        padding-left: 0rem;
        .references-links{
            width: 100%;
            @include flexBox(flex-start,center,row);
            margin-top: 1rem;
            .links1, .links2{
                @include flexBox(center,flex-start,column);
                a{
                    color: $ptext;
                    margin: .5rem 0rem;
                    transition: .5s ease;
                    &:hover{
                        color: $whiteHeaders;
                    }
                }
            }
             .links1{
                margin-right: 1rem;
            }
        }
    }



    .logo-container{
        img{
            width: 10rem;
    
        }
    }
}
.bottom-footer{
    width: 100%;
    padding: 1rem 0rem;
    color: $whiteHeaders;
    background-color: rgba(20, 20, 20, 0.438);
    p{
        font-size: .8rem;
    }
    span{
        text-decoration: underline;
        &:hover{
            color: $textHover;
        }
    }
}
}










/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */

 @media (min-width: 240px) and (max-width: 480px) { 
     footer{
        bottom: -25%;

         .top-footer{
            @include flexBox(flex-end,center,column);
            width: 100%;
            padding-top: 5rem;
            margin: 0;
           
            .site-links-container,
            .reference-container,
            .logo-container{
                width:100%;
                height: 30%;
                color: $whiteHeaders;
                margin-top: 2rem
            }
        
            .site-links-container{
                @include flexBox(center,center,column);
                padding-left: 0rem;

            
                .site-links{
                    margin-top: 0rem;
                    @include flexBox(center,center,row);
                }


            }
        
            
        
            .reference-container{
                @include flexBox(center,center,column);
                padding-left: 0rem;
                .references-links{
                    width: 100%;
                    @include flexBox(center,center,row);
                    margin-top: 1rem;
                }
            }

        }
         }
     }
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/

@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
footer{
    .top-footer{
        width: 100%;
    }
}
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    footer{
        .top-footer{
            width: 100%;
        }
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 960px) and (max-width: 1300px) and (orientation: landscape) {
}

/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/
@media (min-width: 1200px) and (max-width: 1450px) {
}
